<!-- <p>computerruimten works!</p> -->

<h2>Beschikbare computer ruimtes in Antwerpen: </h2>

<!-- lijst van attributes (zie ook in de klasse)
OBJECTID: number;
        NAAM: string;
        STRAATNAAM: string;
        HUISNUMMER: string;
        POSTCODE: string;
        DISTRICT: string;
        TYPE: string;
        BEGELEIDING: string;
        TELEFOON: string;
        OPENINGSUREN: string;
        KOSTPRIJS: string;
        BEGINDATUM?: any;
        OPMERKING: string;
        WEBSITE?: any;
        GISID: string; -->



<ul *ngFor='let pcruimte of pcruimten'>
    <li><h4>{{ pcruimte.attributes.NAAM }}</h4>
        <p>{{pcruimte.attributes.STRAATNAAM}} {{pcruimte.attributes.HUISNUMMER}} </p>
        <p>{{pcruimte.attributes.POSTCODE}} {{pcruimte.attributes.DISTRICT}}</p>
         </li>
  </ul>